body {
  background: black;
  font-family: 'Varela', sans-serif;
}


/* Text Glitch */
/* ------------------------------------------------------------------------- */

/* .glitch {
  color: rgb(255, 255, 255);
  font-size: 70px;
  position: relative;
  text-align: center;
  /*width: 200px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(89px, 9999px, 16px, 0);
  }
  5% {
    clip: rect(67px, 9999px, 47px, 0);
  }
  10% {
    clip: rect(58px, 9999px, 51px, 0);
  }
  15% {
    clip: rect(5px, 9999px, 68px, 0);
  }
  20% {
    clip: rect(63px, 9999px, 77px, 0);
  }
  25% {
    clip: rect(93px, 9999px, 64px, 0);
  }
  30% {
    clip: rect(40px, 9999px, 75px, 0);
  }
  35% {
    clip: rect(8px, 9999px, 40px, 0);
  }
  40% {
    clip: rect(49px, 9999px, 89px, 0);
  }
  45% {
    clip: rect(97px, 9999px, 77px, 0);
  }
  50% {
    clip: rect(17px, 9999px, 2px, 0);
  }
  55% {
    clip: rect(54px, 9999px, 37px, 0);
  }
  60% {
    clip: rect(44px, 9999px, 68px, 0);
  }
  65% {
    clip: rect(25px, 9999px, 100px, 0);
  }
  70% {
    clip: rect(72px, 9999px, 87px, 0);
  }
  75% {
    clip: rect(24px, 9999px, 78px, 0);
  }
  80% {
    clip: rect(29px, 9999px, 21px, 0);
  }
  85% {
    clip: rect(91px, 9999px, 22px, 0);
  }
  90% {
    clip: rect(36px, 9999px, 31px, 0);
  }
  95% {
    clip: rect(7px, 9999px, 55px, 0);
  }
  100% {
    clip: rect(68px, 9999px, 71px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  width: 100%;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 3s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(27px, 9999px, 26px, 0);
  }
  5% {
    clip: rect(99px, 9999px, 83px, 0);
  }
  10% {
    clip: rect(2px, 9999px, 14px, 0);
  }
  15% {
    clip: rect(96px, 9999px, 88px, 0);
  }
  20% {
    clip: rect(28px, 9999px, 38px, 0);
  }
  25% {
    clip: rect(70px, 9999px, 89px, 0);
  }
  30% {
    clip: rect(87px, 9999px, 4px, 0);
  }
  35% {
    clip: rect(27px, 9999px, 72px, 0);
  }
  40% {
    clip: rect(44px, 9999px, 8px, 0);
  }
  45% {
    clip: rect(28px, 9999px, 37px, 0);
  }
  50% {
    clip: rect(45px, 9999px, 1px, 0);
  }
  55% {
    clip: rect(62px, 9999px, 12px, 0);
  }
  60% {
    clip: rect(57px, 9999px, 82px, 0);
  }
  65% {
    clip: rect(24px, 9999px, 38px, 0);
  }
  70% {
    clip: rect(87px, 9999px, 89px, 0);
  }
  75% {
    clip: rect(3px, 9999px, 5px, 0);
  }
  80% {
    clip: rect(33px, 9999px, 10px, 0);
  }
  85% {
    clip: rect(77px, 9999px, 20px, 0);
  }
  90% {
    clip: rect(62px, 9999px, 9px, 0);
  }
  95% {
    clip: rect(90px, 9999px, 68px, 0);
  }
  100% {
    clip: rect(64px, 9999px, 75px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  width: 100%;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 4s infinite linear alternate-reverse;
} */

/* ------------------------------------------------------------------------- */

.button {

  border: 1px solid #FFFFFF;
  padding: 15px 20px; 
  background: none;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  font-size: 14px; 
  color: #FFFFFF;       

  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.full-page-vertical-reference {
  height: 100%;
  height: 100vh;
}

.row img {
  width:100%;
}

.buffer-top-sm { 
  margin-top:20px; 
}

.buffer-top-md { 
  margin-top:40px; 
}

.buffer-top-lg { 
  margin-top:60px; 
}

.buffer-bottom-sm { 
  margin-bottom:20px; 
}

.buffer-bottom-md { 
  margin-bottom:20px; 
}

.buffer-bottom-lg { 
  margin-bottom:20px; 
}

/* ---------------------css loading--------------- */

.loader {
  display: flex;
  width: 8rem;
  height: 8rem;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.curve {
  width: 180%;
  height: 180%;
  position: absolute;
  animation: rotate 8s linear infinite;
  fill: transparent;
}

.curve text {
  letter-spacing: 20px;
  text-transform: uppercase;
  font: 1.5em "Fira Sans", sans-serif;
  fill: white;
  filter: drop-shadow(0 2px 8px black);
}

.blackhole {
  z-index: -1;
  display: flex;
  position: absolute;
  width: 8rem;
  height: 8rem;
  align-items: center;
  justify-content: center;
}

.blackhole-circle {
  z-index: 0;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at center, black 25%, white 35%, white 100%);
  box-shadow: 0px 0px 2rem #c2babb;
  align-items: center;
  justify-content: center;
}

.blackhole-circle::after {
  z-index: 0;
  position: absolute;
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid white;
  background: radial-gradient(circle at center, black 35%, white 60%, white 100%);
  box-shadow: 0px 0px 5rem #c2babb;
  align-items: center;
  justify-content: center;
  filter: blur(4px);
  animation: pulseAnimation linear infinite 2s alternate-reverse;
}

.blackhole-circle::before {
  z-index: 1;
  content: "";
  display: flex;
  width: 4rem;
  height: 4rem;
  border: 2px solid #ffffff;
  box-shadow: 3px 3px 10px #c2babb, inset 0 0 1rem #ffffff;
  border-radius: 50%;
  top: 5rem;
  filter: blur(0.5px);
  animation: rotate linear infinite 3s;
}

.blackhole-disc {
  position: absolute;
  z-index: 0;
  display: flex;
  width: 5rem;
  height: 10rem;
  border-radius: 50%;
  background: radial-gradient(circle at center, #ffffff 80%, #353535 90%, white 100%);
  filter: blur(1rem) brightness(130%);
  border: 1rem solid white;
  box-shadow: 0px 0px 3rem #d7c4be;
  transform: rotate3d(1, 1, 1, 220deg);
  animation: pulseAnimation2 linear infinite 2s alternate-reverse;
  justify-content: center;
  align-items: center;
}

.blackhole-disc::before {
  content: "";
  position: absolute;
  z-index: 0;
  display: flex;
  width: 5rem;
  height: 10rem;
  border-radius: 50%;
  background: radial-gradient(circle at center, #ffffff 80%, #353535 90%, white 100%);
  filter: blur(3rem);
  border: 1rem solid white;
  box-shadow: 0px 0px 6rem #d7c4be;
  animation: pulseAnimation linear infinite 2s alternate-reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulseAnimation {
  0% {
    box-shadow: 0px 0px 3rem #c2babb;
    transform: scale(1);
  }

  100% {
    box-shadow: 0px 0px 5rem #c2babb;
    transform: scale(1.09);
  }
}

@keyframes pulseAnimation2 {
  0% {
    box-shadow: 0px 0px 3rem #c2babb;
    transform: rotate3d(1, 1, 1, 220deg) scale(1);
  }

  100% {
    box-shadow: 0px 0px 5rem #c2babb;
    transform: rotate3d(1, 1, 1, 220deg)  scale(.95);
  }
}
